*{
    margin: 0;
    padding: 0;
}


p{
    text-align: center;
    color: #3b3b3b;
    letter-spacing: 1px;
    font-family: impact, sans-serif;
    margin-top: 30px;
    margin-bottom: 20px;
}

.topbar{
    width: 100%;
    margin-top: 2%;
}

.column1 {
    float: left;
    width: 28%;
    margin-left: 4%;
    text-align: center;
}
.column2{
    float: left;
    width: 28%;
    margin-left: 4%;
    text-align: center;
}
.column3{
    float: left;
    width: 28%;
    margin-left: 4%;
    text-align: center;

}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.portrait {
    width: 60%;

    /* 25.2*/
    border: 6px solid white;
    margin-bottom: 5%;
    margin-top: 5%;

}

.landscape {
    /* 16.8 */
    width: 90%;
    border: 6px solid white;
    margin-top: 19.8%;
    margin-bottom: 19.8%;
}



.rec{
    width: 90%;
    border: 7px solid white;
    margin-top: 14%;
    margin-bottom: 14%;

}

.long{
    width: 90%;
    border: 7px solid white;
    margin-top: 25%;
    margin-bottom: 25%;

}