
body{
    background-color: #878787;
}

header{
    width: 100%;
    height: 80px;
    justify-content: left;
    align-items: center;
    background-color: #878787;
    margin-bottom: 3%;
}
.home{
    text-decoration: none;
    color: #3b3b3b;
    float: left;
    font-size: 30px;
    margin-left: 5%;
    margin-top: 1.8%;
    font-family: impact, sans-serif;
    letter-spacing: 4px;
}

.btn{
    text-decoration: none;
    color: #3b3b3b;
    float: right;
    font-size: 20px;
    margin-right: 1.5%;
    margin-top: 2.3%;
    font-family: impact, sans-serif;
    letter-spacing: 1px;
}

.logo{
    width: 2.5%;
    float: right;
    margin-right: 3%;
    margin-top: 1.8%;
}
