*{
    margin: 0;
    padding: 0;
}

p{
    font-family: impact, sans-serif;
    text-align: center;
    color: #3b3b3b;
    letter-spacing: 2px;
}
h1{
    font-family: impact, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: #3b3b3b;
    margin-top: 50px;
}




.landscape {
    width: 33%;
    height: auto;
    margin-left: .2%;
    float: left;

}