*{
    margin: 0;
    padding: 0;
}

p{
    font-family: impact, sans-serif;
    text-align: center;
    color: #3b3b3b;
    letter-spacing: 2px;
}
h1{
    font-family: impact, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: #3b3b3b;
    margin-top: 50px;
}

.column1 {
    float: left;
    width: 25%;
    margin-left: 25%;
    margin-top: 50px;
    text-align: left;
}
.column2{
    float: left;
    width: 25%;
    margin-top: 50px;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



.portrait {
    height: 510px;
    width: 340px;
    /* margin-left: 50px;
    margin-top: 50px; */
    float: left;
    border: 10px solid white;
}
.landscape {
    height: fit-content;
    width: 33%;
    margin-left: .2%;
    float: left;

}