*{
    margin: 0;
    padding: 0;
}

.bar{
    margin-bottom: 5%;
}

p{
    font-family: impact, sans-serif;
    text-align: center;
    color: #3b3b3b;
    letter-spacing: 2px;
}
h1{
    font-family: raleway, sans-serif;
    text-align: center;
    letter-spacing: 3px;
    color: #3b3b3b;
    font-weight: 600;
    margin-top: 24%;
}
h3{
    font-family: raleway, sans-serif;
    text-align: left;
    color: #3b3b3b;
    margin: 1% 32% 2% 32%;
    font-weight: 550;
}

.landscape {
    width: 33%;
    height: auto;
    margin-left: .2%;
    float: left;
}